
    {% extends 'base.html' %}

    {% block content %}
    <br>
    <br>
    <br>
        <form action="{{ url_for('new') }}" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="Ensembl_Gene_ID" placeholder="Ensembl Gene ID">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Chromosome_Name" placeholder="Chromosome Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Band" placeholder="Band">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="Strand" placeholder="Strand">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="Gene_Start" placeholder="Gene Start">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="Gene_End" placeholder="Gene End">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Associated_Gene_Name" placeholder="Associated Gene Name">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="Transcript_Count" placeholder="Transcript Count">
            </div>
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </form>

        <br />

          {% endblock %}
